databases[postgresql, mysql, sqlite]
typesystem

# Packaging
twine
wheel

# Testing
anyio>=3.0.0,<4
autoflake
black
codecov
flake8
isort
mypy
pytest
pytest-cov

# Documentation
mkdocs==1.3.0
mkdocs-material==8.3.9
mkautodoc==0.1.0
